MOTU_DEBUG = 1

#include "GenericBuildSettings"

GCC_PREPROCESSOR_DEFINITIONS = DEBUG

//ARCHS = $(NATIVE_ARCH)
GCC_PRECOMPILE_PREFIX_HEADER = YES

KEEP_PRIVATE_EXTERNS = NO
SEPARATE_SYMBOL_EDIT = NO
DEAD_CODE_STRIPPING = NO
ONLY_LINK_ESSENTIAL_SYMBOLS = NO
LINKER_DISPLAYS_MANGLED_NAMES = NO
LINKER_DISPLAYS_FILES_FOR_UNDEFINED_SYMBOLS = YES

GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_DEBUGGING_SYMBOLS = default

GCC_ENABLE_SYMBOL_SEPARATION = YES
GCC_NO_COMMON_BLOCKS = NO
GCC_GENERATE_TEST_COVERAGE_FILES = YES

GCC_OPTIMIZATION_LEVEL = 0
GCC_UNROLL_LOOPS = NO
GCC_FEEDBACK_DIRECTED_OPTIMIZATION = Off
