#include "./MOTUDriverVersion.xcconfig"

// import defines passed in from xcodebuild:
MOTU_CHANGELIST_NUMBER = 0    // default unless overridden from command line

MOTU_BUILD_DEFINITIONS = MOTU_CHANGELIST_NUMBER=$(MOTU_CHANGELIST_NUMBER) MOTU_DEBUG=$(MOTU_DEBUG)
// copy those defines to GCC, INFOPLIST, and REZ
GCC_PREPROCESSOR_DEFINITIONS = $(MOTU_BUILD_DEFINITIONS)
INFOPLIST_PREPROCESSOR_DEFINITIONS = $(MOTU_BUILD_DEFINITIONS)
REZ_PREPROCESSOR_DEFINITIONS = $(MOTU_BUILD_DEFINITIONS)

INFOPLIST_EXPAND_BUILD_SETTINGS = YES
INFOPLIST_PREPROCESS = YES

ARCHS = $(ARCHS_STANDARD)
VALID_ARCHS = $(ARCHS_STANDARD)

SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.11

GCC_REUSE_STRINGS = YES
GCC_C_LANGUAGE_STANDARD = c99

DEBUG_INFORMATION_FORMAT = dwarf

PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
ALWAYS_SEARCH_USER_PATHS = NO
COPY_PHASE_STRIP = NO
DEAD_CODE_STRIPPING = NO
DEPLOYMENT_LOCATION = NO
DEPLOYMENT_POSTPROCESSING = YES

CLANG_X86_VECTOR_INSTRUCTIONS = sse3

GCC_CHAR_IS_UNSIGNED_CHAR = NO
GCC_CW_ASM_SYNTAX = YES
GCC_C_LANGUAGE_STANDARD = c99
GCC_DEBUGGING_SYMBOLS = default
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_ASM_KEYWORD = YES
GCC_ENABLE_CPP_EXCEPTIONS = YES
GCC_ENABLE_CPP_RTTI = YES
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_PASCAL_STRINGS = YES
GCC_ENABLE_SYMBOL_SEPARATION = YES
GCC_ENABLE_TRIGRAPHS = NO
GCC_FAST_MATH = NO
GCC_FAST_OBJC_DISPATCH = YES
GCC_FEEDBACK_DIRECTED_OPTIMIZATION = Off
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_GENERATE_TEST_COVERAGE_FILES = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
//GCC_INPUT_FILETYPE = sourcecode.cpp.cpp
GCC_INPUT_FILETYPE = automatic
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = NO
GCC_MODEL_PPC64 = NO
GCC_MODEL_TUNING = G5
GCC_NO_COMMON_BLOCKS = NO
GCC_NO_NIL_RECEIVERS = NO
GCC_OBJC_CALL_CXX_CDTORS = YES
GCC_ONE_BYTE_BOOL = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_PFE_FILE_C_DIALECTS = c++ objective-c objective-c++
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREPROCESSOR_DEFINITIONS_NOT_USED_IN_PRECOMPS =
GCC_REUSE_STRINGS = YES
GCC_SHORT_ENUMS = NO
GCC_STRICT_ALIASING = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_THREADSAFE_STATICS = YES
GCC_TREAT_NONCONFORMANT_CODE_ERRORS_AS_WARNINGS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_UNROLL_LOOPS = NO
GCC_USE_GCC3_PFE_SUPPORT = YES
GCC_USE_NASM_FOR_ASM_FILETYPE = NO

KEEP_PRIVATE_EXTERNS = NO
LINKER_DISPLAYS_FILES_FOR_UNDEFINED_SYMBOLS = YES
LINKER_DISPLAYS_MANGLED_NAMES = NO
OBJROOT = $(SYMROOT)
ONLY_LINK_ESSENTIAL_SYMBOLS = NO
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
SCAN_ALL_SOURCE_FILES_FOR_INCLUDES = YES

SEPARATE_STRIP = NO
SEPARATE_SYMBOL_EDIT = NO
SKIP_INSTALL = NO
STRIP_INSTALLED_PRODUCT = NO
STRIP_STYLE = all
VERSIONING_SYSTEM = apple-generic
WARNING_CFLAGS =


PER_ARCH_CFLAGS_i386 = -mfpmath=sse
OTHER_CFLAGS = -Wstrict-aliasing=2 -Wno-sign-compare -fno-constant-cfstrings
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) -Wsequence-point -Wmissing-field-initializers -Wextra -Wno-inconsistent-missing-override -Wno-unused-parameter

GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_EFFECTIVE_CPLUSPLUS_VIOLATIONS = NO
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = NO // turn this on at some point
GCC_WARN_INHIBIT_ALL_WARNINGS = NO
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = NO
GCC_WARN_PEDANTIC = NO
GCC_WARN_SHADOW = NO    // turn this on at some point
GCC_WARN_SIGN_COMPARE = NO // turn this on at some point
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNINITIALIZED_AUTOS = NO
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = NO
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = NO
GCC_WARN_UNUSED_VARIABLE = NO

CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++

CODE_SIGN_IDENTITY = Developer ID Application: MOTU
OTHER_CODE_SIGN_FLAGS = --timestamp --options=runtime

