MOTU_DEBUG = 0

#include "GenericBuildSettings"

COPY_PHASE_STRIP = YES

GCC_PREPROCESSOR_DEFINITIONS = SHIPPING NDEBUG

// generate debug symbols, just in case, but store them in a separate symbol file
DEBUG_INFORMATION_FORMAT = dwarf-with_dsym
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_DEBUGGING_SYMBOLS = default
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = NO

KEEP_PRIVATE_EXTERNS = NO
SEPARATE_SYMBOL_EDIT = NO
DEAD_CODE_STRIPPING = YES
ONLY_LINK_ESSENTIAL_SYMBOLS = YES
LINKER_DISPLAYS_MANGLED_NAMES = NO
LINKER_DISPLAYS_FILES_FOR_UNDEFINED_SYMBOLS = YES
GCC_ENABLE_SYMBOL_SEPARATION = YES

GCC_OPTIMIZATION_LEVEL = 2
GCC_UNROLL_LOOPS = YES
GCC_FEEDBACK_DIRECTED_OPTIMIZATION = Off

PROVISIONING_PROFILE = $(PROVISIONING_PROFILE_AD_HOC)

